*{margin: 0;padding: 0;}
a{text-decoration: none;}
kbd{
    border: 1px solid red;
    width:4em;
    height:4em;
    text-transform:uppercase;
    display:inline-block;
    position: relative;
}
kbd > button{
    position: absolute;
    right:0;
    bottom:0;
    display: none;
}
kbd:hover > button{
    display:inline-block;
}
body{
    background: pink url(./1-min.jpg) no-repeat center center;
    background-size: cover;
}
main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main{
    display:inline-block;
}
#main > div:nth-child(2){
    margin-left: -22px;
}
#main > div:nth-child(3){
    margin-left: -80px;
}
.key {
    width: 50px;
    height: 40px;
    border: 1px solid #373737;
    color: #C5C5C5;
    background: radial-gradient(ellipse at center, #292929 0%, #111111 100%);
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1A1B1C,0 0 0 2px #1F202020,0 3px 0 2px #080808;
    font-size: 16px;
    font-family:Helvetica;
    position: relative;
}
.key img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    bottom: 2px;
}
.row{
    margin: 20px;
}
.row .key{
    margin: 0 10px;
}
.wrapper{
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}
.key .text{
    position: absolute;
    top: 2px;
    left: 4px;
}